<!-- templates/security/login.html.twig -->
<h1>Login</h1>

<form action="{{ path('app_login') }}" method="post">
    {{ csrf_token('authenticate') }}  <!-- Token CSRF -->

    <label for="email">Email</label>
    <input type="text" id="email" name="_username" required>

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password" required>

    <button type="submit">Se connecter</button>
</form>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <form action="{{ path('logout') }}" method="post">
        <button type="submit">Déconnexion</button>
    </form>
{% endif %}
